# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt


# Data (managed via LFS for Hugging Face)


# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment variables
.env
